@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@config "../tailwind.config.mjs";

@font-face {
  font-family: "loubag";
  src: url("./../public/fonts/Loubag-Bold.ttf") format("truetype");
}
.grid-background {
  background-image: 
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
  background-size: 100px 100px;
  background-color: #000000;
}
.cal-sans {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}


